.Rproj.user
.Rhistory
.RData
.Ruserdata
*Rproj
*aux
*log
*nav
*out
*snm
*synctex.gz
*toc
*dvi
*xml
*blg
*bbl
*blx.bib
VMs.csv
practicals/PI*csv
assignments/A[123456]/*
*results*
assignments/A*csv
*gtf*