.gdbar img {
  width: 200px !important;
  height: 150px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 300px !important;
  height: 180px !important;
}

.footer {
    color: black;
    position: fixed;
    top: 90%;
    text-align:center;
    width:50%;
}

.small{
	font-size:80%;
}

.wifi{
	font-size:150%;
	margin-left: 80px;
}

pre{
	font-size: 28px;
	line-height: 36px;
}

slides > slide:not(.nobackground):before {
  width: 100px;
  height: 75px;
  background-size: 100px 75px;
}

slides > slide {
  line-height: 1.7;
  font-size: 175%;
}

div.footnotes {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 10%;
  width: 80%;
  font-size: 0.6em;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
   }